<h4><%= @comment.content %></h4>

<h3>Comments:</h3>
<% @comment.comments.each do |comment| %>
  <p><%= comment.content %><%= link_to " Reply", comment_path(comment) %></p>
<% end %>

<%= form_for @new_comment, :url => comments_path do |f| %>
  <div class="form-group">
    <%= f.hidden_field :commentable_id, value: @comment.id %>
    <%= f.hidden_field :commentable_type, value: "Comment" %>
    <%= f.label :content %>
    <%= f.text_area :content , class: "form-control", rows: "5" %>
  </div>
    <%= f.submit class: "btn btn-success" %>
<% end %>
